

   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="{{ STATIC_URL }} /static/osauhing/style.css">
<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.6.3.js"></script> 
<button class="button-27"onclick="location.href='/';">Avaleht</button>
<h1>Osauhing Edit</h1>
<script type="text/javascript">
$(function() {
// Function to create a new formset form for legal partner
$('form').delegate('#btn_add_legal_partner', 'click', function() {
    {% for legal_partner in all_legal_partners %}
        if (global_legal_partner === "{{ legal_partner }}") {
            global_legal_partner_registry_code = "{{ legal_partner.registry_code }}";
            global_legal_partner_id = "{{ legal_partner.id }}";
        }
    
    {% endfor %}
    var $total_legal_partners = $(':input[name=legalpartners_formset-TOTAL_FORMS]');
    legal_partner_form_count = parseInt($total_legal_partners.val());
    $total_legal_partners.val(legal_partner_form_count + 1);
    $new_legal_partner_form = $(
        '<fieldset>' +
        '<legend>Juriidiline osanik: ' + global_legal_partner + '</legend>' +
        '<label style="display:none" for="id_legalpartners_formset-' + legal_partner_form_count +
        '-initial_legal_partner">Juriidiline osanik ID:</label> <input type="text" style="display:none" value="'+ global_legal_partner_id +'" name="legalpartners_formset-' + legal_partner_form_count +
        '-initial_legal_partner" id="id_legalpartners_formset-' + legal_partner_form_count + '-initial_legal_partner">' +
        '<div>Registrikood: '+ global_legal_partner_registry_code +'</div>' +
        '<div><label  for="id_legalpartners_formset-' + legal_partner_form_count +
        '-ownership">Osaniku osa suurus:</label> <input type="text" placeholder="€" name="legalpartners_formset-' + legal_partner_form_count +
        '-ownership" id="id_legalpartners_formset-' + legal_partner_form_count + '-ownership"></div>' +
        '<div><label for="id_legalpartners_formset-' + legal_partner_form_count +
        '-isFounder">Asutaja:</label> <input type="checkbox" name="legalpartners_formset-' + legal_partner_form_count +
        '-isFounder" id="id_legalpartners_formset-' + legal_partner_form_count + '-isFounder" checked></div>' +
        '</fieldset>'
    
    );
    
    $('#legalpartners').prepend($new_legal_partner_form)

})
// Function to create a new formset form for physical partner
$('form').delegate('#btn_add_physical_partner', 'click', function() {
    {% for physical_partner in all_physical_partners %}
    if (global_physical_partner === "{{ physical_partner }}") {
        global_physical_partner_first_name = "{{ physical_partner.first_name }}";
        global_physical_partner_last_name = "{{ physical_partner.last_name }}";
        global_physical_partner_personal_code = "{{ physical_partner.personal_code }}";
        global_physical_partner_id = "{{ physical_partner.id }}";
    }

{% endfor %}
    var $total_physical_partners = $(':input[name=physicalpartners_formset-TOTAL_FORMS]');
    physical_partner_form_count = parseInt($total_physical_partners.val());
    $total_physical_partners.val(physical_partner_form_count + 1);
    $new_physical_partner_form = $(
    '<fieldset>' +
    '<legend>Füüsiline osanik: ' + global_physical_partner + '</legend>' +

    '<div>Eesnimi: '+ global_physical_partner_first_name +'</div>' +
    '<div>Perekonnanimi: '+ global_physical_partner_last_name +'</div>' +
    '<div>Isikukood: '+ global_physical_partner_personal_code +'</div>' +
    '<label style="display:none" for="id_physicalpartners_formset-' + physical_partner_form_count +
    '-initial_physical_partner">Juriidiline osanik ID:</label> <input type="text" style="display:none" value="'+ global_physical_partner_id +'" name="physicalpartners_formset-' + physical_partner_form_count +
    '-initial_physical_partner" id="id_physicalpartners_formset-' + physical_partner_form_count + '-initial_physical_partner">' +
    '<div><label for="id_physicalpartners_formset-' + physical_partner_form_count +
    '-ownership">Osaniku osa suurus:</label> <input placeholder="€" type="text" name="physicalpartners_formset-' + physical_partner_form_count +
    '-ownership" id="id_physicalpartners_formset-' + physical_partner_form_count + '-ownership"></div>' +
    '<div><label for="id_physicalpartners_formset-' + physical_partner_form_count +
    '-isFounder">Asutaja:</label> <input type="checkbox" name="physicalpartners_formset-' + physical_partner_form_count +
    '-isFounder" id="id_physicalpartners_formset-' + physical_partner_form_count + '-isFounder" checked></div>' +
    '</fieldset>'
    );
        
    $('#physicalpartners').prepend($new_physical_partner_form)
})


});


</script>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    {{ legalpartners_formset.management_form }}
    {% for form in legalpartners_formset %}
        {{ form.as_p }}
{% endfor %}
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Otsi juriidilised isikud.." title="Type in a name">
    <ul id="myUL">
    {% for legal_partner in all_legal_partners %}
    <li id="myli" ><a href="#" id="mya" >{{ legal_partner }} <input type="button" value="Lisa juriidiline osanik" style="float:right" onclick="add_legal_partner_info('{{legal_partner}}')"  id="btn_add_legal_partner"/></a>
    </li>
{% endfor %}
</ul>


{{ physicalpartners_formset.management_form }}
{% for form in physicalpartners_formset %}
    {{ form.as_p }}
{% endfor %}
<input type="text" id="myphysicalInput" onkeyup="myPhysicalFunction()" placeholder="Otsi füüsilised isikud.." title="Type in a name">
<ul id="myphysicalUL">
{% for physical_partner in all_physical_partners %}
<li id="myphysicalli"><a href="#" id="myphysicala" >{{ physical_partner }} <input type="button" style="float:right" value="Lisa füüsiline osanik" onclick="add_physical_partner_info('{{physical_partner}}')"  id="btn_add_physical_partner"/></a>
</li>
{% endfor %}
</ul>

<div id="legalpartners"> 
</div>
<div id="physicalpartners">
</div>

    <input type="submit" class="button-27" value="Submit" />
    <script>
        window.onload = function() {
            myFunction();
            myPhysicalFunction();
        };
        // Functions for search bar
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            var display_elements = 0;
            for (i = 0; i< li.length; i++) {
                li[i].style.display = "";
            }
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                    display_elements++;
                }
                else {
                    li[i].style.display = "none";
                }


            }
            if (display_elements > 5){
                for(i = 5; i < li.length; i++) {
                        li[i].style.display = "none";
                }
            }

        }
        function myPhysicalFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myphysicalInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myphysicalUL");
            li = ul.getElementsByTagName("li");
            var display_elements = 0;
            for (i = 0; i< li.length; i++) {
                li[i].style.display = "";
            }
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                    display_elements++;
                }
                else {
                    li[i].style.display = "none";
                }


            }
            if (display_elements > 5){
                for(i = 5; i < li.length; i++) {
                        li[i].style.display = "none";
                }
            }

        }
        // Functions for adding legal and physical partners
        function add_legal_partner_info(legal_partner){
            console.log(legal_partner);
            global_legal_partner = legal_partner;
    
        }
        function add_physical_partner_info(physical_partner){
            console.log(physical_partner);
            global_physical_partner = physical_partner;
    
        }
        </script>
</form>
